#component-todo {
    width: 400px;
    margin: auto;
}

#component-todo--input {
    width: 300px;
    padding: 8px;
    background: #f8f8f8;
    border: none;
    border-bottom: solid #dedede 3px;
}

#component-todo--input-action {
    padding: 8px;
    background: #ff6347;
    border: none;
    border-bottom: solid #dedede 3px;
    color: #fff;
    cursor: pointer;
}

.todo--item {
    display: flex;
    background: #4485f5;
    color: #fff;
    margin-top: 3px;
    width: 381px;
    padding: 3px 0 3px 11px;
    text-transform: capitalize;
}

.todo--item-action {
    text-align: right;
    margin-right: 6px;
}

#component-todo--toolbar {
    display: flex;
    background: #f8f8f8;
    margin-top: 8px;
    padding: 5px;
    width: 382px;
}

.button-acction {
    background: #95847d;
    border: none;
    color: #fff;
    text-transform: lowercase;
}

.bg--89e051 {
    background: #89e051!important;
}

.bg--d60b52 {
    background: #d60b52!important;
}

.hide {
    display: none!important;
}

.show {
    display: block;
}

.panel {
    flex: 1;
}