<div id="wrapper">

  <div id="meta-toolbar">
    <div class="icon--close" (click)="onClose()">X</div>
  </div>

  <div class="meta-panel">
    <div
      *ngIf="isInViewMode"
      (click)="onSwitchToEditMode()"
      >{{ inputTodoTask?.content }}</div>
    <div>
      <input
        *ngIf="isInEditMode"
        #taskContentInput
        (keyup)="onUpdateTask($event)"
        type="text"
        class="input--edit"
        value="{{inputTodoTask?.content}}">
    </div>
  </div>

  <div
    class="remove-task"
    (click)="onRemoveTask()">
    <div class="remove-task--content">Remove Task</div>
  </div>

</div>
