.mt12 { margin-top      : 12px;}
.mt24 { margin-top      : 24px;}
.mt36 { margin-top      : 36px;}

.mr12 { margin-right    : 12px;}
.mr24 { margin-right    : 24px;}
.mr36 { margin-right    : 36px;}

.mb12 { margin-bottom   : 12px;}
.mb24 { margin-bottom   : 24px;}
.mb36 { margin-bottom   : 36px;}

.ml12 { margin-left     : 12px;}
.ml24 { margin-left     : 24px;}
.ml36 { margin-left     : 36px;}