.menu-category {

}

.menu-category--title {
    font-weight : bold;
    cursor      : pointer;
    font-size   : 16px;
    padding     : 3px 5px;
    text-transform: uppercase;
}

.menu-category--sign {
    font-weight : bold;
    cursor      : pointer;
    font-size   : 16px;
    padding     : 3px 5px;
    text-transform: uppercase;    
}

.menu-category--sign-busines {
    background-color: #2196f3;
    color: #fff;
}

.menu-category--sign-education {
    background-color: #d60b52;
    color: #fff;
}

.menu-category--sign-marketing {
    background-color: #fea090;
    color: #fff;
}

.menu-category--header {
    padding: 5px 0;
}

.menu-category--menu {
    padding-left: 30px;
}

.menu-category--menu-item {
    padding : 5px 0;
}