  <!-- List Organizer -->
  <div id="task-organizer">

    <ul>
      <li
        *ngFor="let listItem of filterListCollection; let i = index"
        (click)="onSelectList(listItem)"
        class="task-organizer--list mt8">
        <span>{{ listItem.title }}</span>
        <div
          class="layout--right">
          <div class="number-decorator"></div>
        </div>
      </li>
    </ul>

    <ul>
      <li
        *ngFor="let listItem of userListCollection; let i = index"
        (click)="onSelectList(listItem)"
        class="task-organizer--list mt8">
        <span>{{ listItem.title }}</span>
        <div
          *ngIf="listItem.taskCollection.length > 0"
          class="layout--right">
          <div class="number-decorator">{{listItem.readyTasks}}</div>
        </div>
      </li>
    </ul>

    <div id="create-new-list">
      <div
        (click)="onCreateNewList()"
        class="button">Create New List
      </div>
    </div>

  </div>
